:root {
    --biduul-chart-background: #010025;
    --biduul-chart-text-fill: #67bcff;
    --biduul-chart-axis-line-stroke: #3F51B5;
    --biduul-chart-gridlines-stroke: #001242;
    --biduul-chart-last-price-line-color: #00f;
    --biduul-chart-crosshair-color: #3F51B5;

    --biduul-chart-plot-up-body-fill: #00a7ff;
    --biduul-chart-plot-up-body-stroke: #0098ff;
    --biduul-chart-plot-up-wick-stroke: #00aeff;
    --biduul-chart-plot-down-body-fill: #003eff;
    --biduul-chart-plot-down-body-stroke: #0022ff;
    --biduul-chart-plot-down-wick-stroke: #0046ff;
}

/* update buy/sell colors for trading market */
[data-widget-id="trading"] [data-trading-type="MARKET"] .btn-success, [data-widget-id="trading"] [data-trading-type="STOP_MARKET"] .btn-success {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}

[data-widget-id="trading"] [data-trading-type="MARKET"] .btn-sell, [data-widget-id="trading"] [data-trading-type="STOP_MARKET"] .btn-sell {
    background: var(--bs-danger);
    border-color: var(--bs-danger);
}

[data-widget-id="trading"] :is([data-trading-type="MARKET"],  [data-trading-type="STOP_MARKET"]) {
    --biduul-buy-color: var(--bs-info);
    --biduul-sell-color: var(--bs-danger);
}

/* decrease row size at positions & orders tables */
[data-widget-id="positionAndOrders"] .table > :not(caption) :is(th, td, button) {
    padding: 0.1rem 0.5rem;
}
  